// Remove the clear field and password reveal buttons in IE.
::-ms-clear,
::-ms-reveal {
	display: none;
}

// Remove search cancel, number field spinners etc in webkit browsers.
::-webkit-search-cancel-button,
::-webkit-inner-spin-button,
::-webkit-outer-spin-button,
::-webkit-search-cancel-button,
::-webkit-search-results-button {
	-webkit-appearance: none;
}

// Remove number spinner in firefox.
[type=number] {
  -moz-appearance: textfield;
}

// Remove the inner focus outline on buttons in firefox.
::-moz-focus-inner {
	border: 0;
	padding: 0;
}

// Set the colour of placehoder text in input fields.
::placeholder {
  color: $color-placeholder;
}

// Stop text areas being resizeable.
textarea {
  overflow: auto;
  resize: none;
}

// Remove borders and add a nicer cursor to buttons.
input, button, [type=button], [type=submit] {
  border: 0;
  outline: 0;
  cursor: pointer;
}

// Remove default stying from search fields.
[type=search] {
  -webkit-appearance: none;
}
