// Colours
$white: #fefefe;
$color-background: $white;
$color-type: #222222;
$color-placeholder: #666666;


// Type
$base-font-size: 16px;
$base-line-height: 1.5;


// Responsive Breakpoints
$breakpoints: (
  'small': (min-width : px-to-rem(480px)),
  'medium': (min-width : px-to-rem(768px)),
  'large': (min-width : px-to-rem(1000px))
);


// Z-index scale
$z10: 100;
$z20: 200;
$z30: 300;
$z40: 400;
$z50: 500;
$z60: 600;
$z70: 700;
$z80: 800;
$z90: 900;

// Applied z-index
//$z-elem: $z90;
